lab1/lab1.drawio
lab1/DA-02_Biliavskyi_lab1_AI.docx
lab1/node_modules/**
Методичні_вказівки_Штучний_інтелект_Іщенко_Рогоза_Сергеєв_Горчинський.docx
lab2/DA-02_Biliavskyi_lab2_AI.docx
lab2/decision-tree.drawio
lab2/decision-tree.png
